html {
  font-size: 18px;
  overflow-x: hidden;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding-bottom: 3rem;
}


nav {
  background: whitesmoke;
}

nav ul li {
  width: auto;
}

nav ul li a {
  color: black;
  text-decoration: none;
  transition: background ease 300ms;
}

nav ul li a:hover {
  background: black;
  color: white;
}

.button-toggle {
  -webkit-appearance: none;
  position: relative;
  border: 2px solid dimgrey;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  background: rgba(0, 0, 0, 0);
  transition: background ease 300ms;
}

.button-toggle svg {
  position: absolute;
  top: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
  width: 1rem;
  height: 1rem;
  transition: transform ease 300ms;
}

.button-toggle[data-active="false"] .more {
  transform: scale(1);
}

.button-toggle[data-active="false"] .close {
  transform: scale(0);
}

.button-toggle[data-active="true"] .more {
  transform: scale(0);
}

.button-toggle[data-active="true"] .close {
  transform: scale(1);
}

.button-toggle:hover {
  background: rgba(0, 0, 0, 0.15);
}

.button-toggle:focus {
  outline: none;
  border-color: tomato;
}

.overflow-menu-overflow {
  width: 100%;
  max-width: 360px;
  background: whitesmoke;
}